.window-container .course-info-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.window-container .course-info-form-input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.delete-course-button .trash-sign {
  aspect-ratio: 1;
  height: 80%;
  width: auto;
  background: var(--delete-color);
} 

.window-footer-button-container .left-buttons, .window-footer-button-container .right-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-window {
  width: 50vw;
}

.course-window > .window-scrollable {
  overflow-y: scroll;
  max-height: 50vh;
}
