.header {
  position: relative;
  margin: 0 3.075%;
  padding: 13.5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-left > span {
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
}

.header-left > span > span {
  color: var(--secondary-color);
}

/* .header > div {
  display: flex;
  align-items: center;
} */

.header-left {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.header-right > button {
  font-size: 25px;
  margin-right: 30px;
}

.header-right > button:last-child {
  margin-right: 0px;
}

.header-space-between > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  
  margin: 0 20px;
  padding: 0;
}


.help-button {
  padding: 0;
  border-radius: 14px;
  width: 175px;
  height: 57px;
  display: flex;
  background-color: transparent;
  border: 2px solid var(--skyblue);
  color: var(--skyblue);
  text-align: center;
  justify-content: center;
  align-items: center;
}
