.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 57px;
  height: 57px;
  background-color: transparent;
  border: 2px solid var(--skyblue);
  border-radius: 14px;
  margin-right: 30px;
}

body.light .theme-button-logo {
  width: 50%;
  height: 50%;
  background: var(--skyblue);
  -webkit-mask: url(../images/darkmode.svg) no-repeat center;
  mask: url(../images/darkmode.svg) no-repeat center;
}

body.dark .theme-button-logo {
  width: 50%;
  height: 50%;
  background: var(--skyblue);
  -webkit-mask: url(../images/lightmode.svg) no-repeat center;
  mask: url(../images/lightmode.svg) no-repeat center;
}