body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Menlo, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: var(--background-color);
  color: var(--color);
  --secondary-color: var(--skyblue)
}

:root {
  --white: white;
  --black: black;
  --skyblue: #0395DE;
  --grey: #707070;
  
  --primary-text: var(--grey);
  --background-color: var(--white);
  --color: var(--white);
  --secondary-color: var(--skyblue);
}

body.light {
  --background-color: var(--white);
  --color: var(--black);
  --secondary-color: var(--skyblue);
}

body.dark {
  --background-color: var(--black);
  --color: var(--white);
  --secondary-color: var(--skyblue);
}

button {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.lock-scroll {
  overflow: hidden;
}